/* Newsroom Experts Page Custom Styles */

#newsroom-faculty-experts #header-2 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#newsroom-faculty-experts #pageContentWrapper {
    margin-top: 1rem;
}

/* #pageContentWrapper {
    margin-top: 7rem;
} */