.facultyProfileTop {
    background-color: #f7f7f7;
    padding: 50px 0 50px 0;
}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .facultyProfilePicture {
        max-width: fit-content;
        text-align: left;
    }

    .facultyProfileTitles {
        text-align: left;
    }

    .facultyProfileCV {
        padding-left: 0;
        margin: 0;
    }

}

@media screen and (min-width: 767.999px) {

    .facultyProfileCV {
        width: 50%;
    }

    .facultyProfileTwitter {
        width: 50%;
    }
}

