.facultyProfileWrapper {
    background-color: #f7f7f7;
    padding: 2rem;
}

.standardContent .facultyPhoto img {
    padding: 2rem 0 2rem 0;
}

.standardContent h1 {
    margin: unset;
}

/* .standardContent img {
    padding-left: unset;
    padding-right: unset;
} */

h1.card-title {
    color: #aa0000;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}

.facultyProfileTitles {
    padding-left: 3rem;
}

.facultyProfileName {
    padding-left: 3rem;
}

.facultyDisciplines {
    padding-left: 3rem;
}

.facultyProfileBiography {
    padding-left: 3rem;
}

.standardContent h2 {
    color: #aa0000;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    padding-top: 2rem;
}

.standardContent h3 {
    color: #aa0000;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}

.standardContent p {
    padding-top: 1rem;
}

.standardContent p.card-text {
    font-weight: 500;
    padding-top: 0.25rem;
}






/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .facultyProfilePicture {
        max-width: fit-content;
        text-align: left;
    }

    /* .facultyProfileTitles {
        margin-left: 2rem
    } */

    .facultyProfileCV {
        padding-left: 0;
        margin: 0;
    }

}

@media screen and (min-width: 767.999px) {

    .facultyProfileCV {
        width: 50%;
    }

    .facultyProfileTwitter {
        width: 50%;
    }

}


@media screen and (max-width: 767.98px) {

    /* .facultyProfileWrapper {
        padding-top: 0;
    } */

    /* .standardContent .facultyPhoto img {
        padding: 2rem 0 2rem 0;
    } */

    .facultyProfileWrapper.col-8 {
        max-width: fit-content;
    }

    .facultyProfileWrapper.offset-2 {
        margin-left: 2rem;
        margin-right:2rem;
    }

    .facultyProfilePicture.col-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .facultyProfileInfo.col-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

