/* ****** Hide hidden items ****** */

.hidden {
    display: none;
}

#header-2 {
    padding-bottom: 50px;
}


/* ****** Wraps Overflow within container ****** */


/* div#MainZone .container {
    display: contents;
} */


/* *****  Hero Organizer customizations  **** */

.heroOrganizer.card-group {
    flex-flow: column;
}

.heroOrganizer h2.organizerTitle {
    padding-bottom: 4rem;
}

.heroOrganizer h3.card-title {
    color: #aa0000;
    font-family: Montserrat, sans-serif;
    font-size: 2.4rem;
    font-weight: 450;
    padding: 0;
}

.heroOrganizer h3.card-title a {
    color: #aa0000;
    font-family: Montserrat, sans-serif;
    font-size: 2.4rem;
    font-weight: 450;
    padding: 0;
}


/* *****  Grid Organizer customizations  **** */

.gridOrganizerWrapper {
    background-color: #f7f7f7;
    /* background-color: #e6efff; */
    /* opacity: 90%; */
    padding-bottom: 50px;
    padding-top: 50px;
}

.gridOrganizer .titleWrapper {
    width: 100%;
}

.gridOrganizer.standardContent h2.organizerTitle {
    width: 100%;
}

.card-group .gridFeedItem.card {
    display: flex;
    flex: 1 0 calc(20% - 10px);
    margin: 15px;
    max-width: 400px;
    min-width: 400px;
    padding: 0;
}

.gridFeedItem h3.card-title {
    color: #aa0000;
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 450;
    padding: 0;
}

.gridFeedItem h3.card-title a {
    color: #aa0000;
    font-size: 2rem;
    font-weight: 450;
    padding: 0;
}

.gridFeedItem .card-subtitle {
    font-size: 1.5rem;
    line-height: 1.5;
}

.gridFeedItem .card-text {
    font-weight: 500;
}

.gridFeedItem ul li.tag {
    font-size: 1.5rem;
    line-height: 1.5;
    list-style-type: none;
    margin: 0;
}

p.contactInfo {
    font-size: 1.35rem;
    font-weight: 400;
    padding: 0;
}

ul.profileTitles {
    padding-top: 0;
}


/** horizontal rule between articles **/

hr.articleBorderBottom {
    color: #1B1B1B;
    margin-top: 10px;
    margin-bottom: 20px;
}

.standardContent ul li:before {
    content: none;
}

img.card-img-top {
    min-width: -webkit-fill-available;
    padding: 0;
}


/*********************
*
*   Responsive Media Querys
*
**/


/* ***** Mobile Up ***** */

@media screen and (min-width: 576px) {}

@media screen and (min-width: 767.999px) {
    /* If Bootstrap 4 only */
    .gridOrganizerWrapper {
        padding: 0 50px 50px 50px;
    }
}


/* ***** Desktop down ***** */

@media screen and (max-width: 1200px) {
    .card-group .gridFeedItem.card {
        max-width: unset;
    }
}

@media only screen and (max-width: 992px) {
    .card-group .gridFeedItem.card {
        flex: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 767.999px) {
    h2.organizerTitle {
        font-size: 2rem;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 15px;
        padding-right: 10px;
    }
    .gridOrganizerWrapper {
        padding: 0 15px 15px 15px;
    }
    .gridOrganizer.card-group {
        margin-left: 0;
        margin-right: 30px;
    }
    .gridOrganizerWrapper h2.organizerTitle {
        padding-left: 5px;
    }
    .gridFeedItem {
        font-size: 1rem;
        font-weight: 400;
        max-width: 100%;
    }
    .card-group .gridFeedItem.card {
        flex: auto;
        max-width: 100%;
    }
    .gridFeedItem h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    .heroOrganizer h3.card-title {
        color: #aa0000;
        font-family: Montserrat, sans-serif;
        font-size: 2rem;
        font-weight: 450;
        padding: 0;
    }
    .heroOrganizer h3.card-title a {
        font-size: 2rem;
        color: #aa0000;
        font-family: Montserrat, sans-serif;
        font-size: 2rem;
        font-weight: 450;
        padding: 0;
    }
}