.profileItem p.footerText {
    font-size: 1.35rem;
    font-weight: 400;
    padding: 0;
}

.profileItem ul.list-group {
    font-size: unset;
    line-height: unset;
    padding-top: unset;
}

.profileItem .list-group-item {
    font-size: 1rem;
    font-weight: 500;
    list-style: unset;
    margin-left: unset;
}