.profileItem p.card-text {
    font-size: 1.5rem;
    line-height: 1.6;
    padding-bottom: 0.25rem;
    padding-top: unset;
}

.profileItem p.footerText {
    font-size: 1.35rem;
    font-weight: 450;
    line-height: 1.5;
    padding: 0;
}

.profileItem ul.list-group {
    font-size: unset;
    line-height: unset;
    padding-top: 1rem;
}

.profileItem .list-group-item {
    background-color: #f7f7f7;
    font-size: 1rem;
    font-weight: 500;
    list-style: unset;
    margin-left: unset;
}

/* .profileItem ul.list-group li:first-child {
    font-weight: 550;
} */

.profileItem .list-group-item.itemParent {
    font-weight: 550;
}

.profileItem .card-footer {
    background-color: #f7f7f7;
}